# Datapath Example 3

This notebook gives an example of how to build relatively simple data paths.
It assumes that you understand the concepts presented in the example 2
notebook.

## Exampe Data Model
The examples require that you understand a little bit about the example
catalog data model, which is based on the FaceBase project.

### Key tables
- `'dataset'` : represents a unit of data usually a 'study' or 'collection'
- `'experiment'` : a bioassay (typically RNA-seq or ChIP-seq assays)
- `'replicate'` : a record of a replicate (bio or technical) related to an experiment

### Relationships
- `dataset <- experiment`: A dataset may have one to many experiments. I.e., there 
  is a foreign key reference from experiment to dataset.
- `experiment <- replicate`: An experiment may have one to many replicates. I.e., there is a
  foreign key reference from replicate to experiment.

In [1]:
# Import deriva modules
from deriva.core import ErmrestCatalog, get_credential

In [2]:
# Connect with the deriva catalog
protocol = 'https'
hostname = 'www.facebase.org'
catalog_number = 1
# If you need to authenticate, use Deriva Auth agent and get the credential
credential = get_credential(hostname)
catalog = ErmrestCatalog(protocol, hostname, catalog_number, credential)

In [3]:
# Get the path builder interface for this catalog
pb = catalog.getPathBuilder()

## Building a DataPath
Build a data path by linking together tables that are related. To make things a little easier we will use python variables to reference the tables. This is not necessary, but simplifies the examples.

In [4]:
dataset = pb.isa.dataset
experiment = pb.isa.experiment
replicate = pb.isa.replicate

### Initiate a path from a table object
Like the example 2 notebook, begin by initiating a `path` instance from a `Table` object. This path will be "rooted" at the table it was initiated from, in this case, the `dataset` table. `DataPath`'s have URIs that identify the resource in the catalog.

In [5]:
path = dataset.path
print(path.uri)

https://www.facebase.org/ermrest/catalog/1/entity/dataset:=isa:dataset

### Link other related tables to the path
In the catalog's model, tables are _related_ by foreign key references. Related tables may be linked together in a `DataPath`. Here we link the following tables based on their foreign key references (i.e., `dataset <- experiment <- replicate`).

In [6]:
path.link(experiment).link(replicate)
print(path.uri)

https://www.facebase.org/ermrest/catalog/1/entity/dataset:=isa:dataset/experiment:=isa:experiment/replicate:=isa:replicate

### Path context
By default, `DataPath` objects return entities for the _last_ linked entity set in the path. The `path` from the prior step ended in `replicate` which is therefore the `context` for this path.

In [7]:
path.context.name

'replicate'

### Get entities for the current context
The following DataPath will fetch `replicate` entities not `dataset`s.

In [8]:
entities = path.entities()
len(entities)

1501

### Get entities for a different path context
Let's say we wanted to fetch the entities for the `dataset` table rather than the current context which is the `replicate` table. We can do that by referencing the table as a property of the path object. **Note** that these are known as "table instances" rather than tables when used within a path expression. We will discuss table instances later in this notebook.

In [9]:
path.table_instances['dataset']
# or
path.dataset

Table name: 'dataset'
List of columns:
  Column name: 'id'	Type: serial4	Comment: 'None'
  Column name: 'accession'	Type: text	Comment: 'None'
  Column name: 'title'	Type: text	Comment: 'None'
  Column name: 'project'	Type: int8	Comment: 'None'
  Column name: 'funding'	Type: text	Comment: 'None'
  Column name: 'summary'	Type: text	Comment: 'None'
  Column name: 'description'	Type: markdown	Comment: 'None'
  Column name: 'view_gene_summary'	Type: text	Comment: 'None'
  Column name: 'mouse_genetic'	Type: text	Comment: 'None'
  Column name: 'human_anatomic'	Type: text	Comment: 'None'
  Column name: 'study_design'	Type: markdown	Comment: 'None'
  Column name: 'release_date'	Type: date	Comment: 'None'
  Column name: 'status'	Type: int4	Comment: 'None'
  Column name: 'gene_summary'	Type: int4	Comment: 'None'
  Column name: 'thumbnail'	Type: int4	Comment: 'None'
  Column name: 'show_in_jbrowse'	Type: boolean	Comment: 'None'
  Column name: '_keywords'	Type: text	Comment: 'None'
  Column name: 'RID'	Type: ermrest_rid	Comment: 'System-generated unique row ID.'
  Column name: 'RCB'	Type: ermrest_rcb	Comment: 'System-generated row created by user provenance.'
  Column name: 'RMB'	Type: ermrest_rmb	Comment: 'System-generated row modified by user provenance.'
  Column name: 'RCT'	Type: ermrest_rct	Comment: 'System-generated row creation timestamp.'
  Column name: 'RMT'	Type: ermrest_rmt	Comment: 'System-generated row modification timestamp'

From that table instance we can fetch entities, add a filter specific to that table instance, or even link another table. Here we will get the `dataset` entities from the path.

In [10]:
entities = path.dataset.entities()
len(entities)

90

Notice that we fetched fewer entities this time which is the number of `dataset` entities rather than the `replicate` entities that we previously fetched.

## Filtering a DataPath

Building off of the path, a filter can be added. Like fetching entities, linking and filtering are performed _relative to the current context_. In this filter, the assay's attriburtes are referenced in the expression.

Currently, _binary comparisons_ and _logical operators_ are supported. _Unary opertors_ have not yet been implemented. In binary comparisons, the left operand must be an attribute (column name) while the right operand must be a literal
value.

In [11]:
path.filter(replicate.bioreplicate_number == 1)
print(path.uri)

https://www.facebase.org/ermrest/catalog/1/entity/dataset:=isa:dataset/experiment:=isa:experiment/replicate:=isa:replicate/bioreplicate_number=1

In [12]:
entities = path.entities()
len(entities)

489

Let's see it rendered as a Pandas DataFrame.

In [13]:
entities.dataframe

,RCB,RCT,RID,RMB,RMT,assay_id,bioreplicate_number,biosample,dataset,experiment,image_ids,sample_id,technical_replicate_number
0,None,2018-03-12T18:12:27.599487-07:00,51917,None,2018-03-12T18:12:27.599487-07:00,NaN,1,47791,13599,51313,"[2473, 2474, 2475]",1189.0,1
1,None,2018-03-12T18:12:27.599487-07:00,51919,None,2018-03-12T18:12:27.599487-07:00,NaN,1,48317,13599,51315,"[2470, 2471, 2472]",1188.0,1
2,None,2018-03-12T18:12:27.599487-07:00,51921,None,2018-03-12T18:12:27.599487-07:00,56.0,1,49331,13605,51009,None,1222.0,1
3,None,2018-03-12T18:12:27.599487-07:00,51923,None,2018-03-12T18:12:27.599487-07:00,57.0,1,49331,13605,51011,None,1222.0,1
4,None,2018-03-12T18:12:27.599487-07:00,51925,None,2018-03-12T18:12:27.599487-07:00,55.0,1,49331,13605,51013,None,1222.0,1
5,None,2018-03-12T18:12:27.599487-07:00,51927,None,2018-03-12T18:12:27.599487-07:00,52.0,1,48999,13605,51015,None,1221.0,1
6,None,2018-03-12T18:12:27.599487-07:00,51929,None,2018-03-12T18:12:27.599487-07:00,54.0,1,48999,13605,51017,None,1221.0,1
7,None,2018-03-12T18:12:27.599487-07:00,51931,None,2018-03-12T18:12:27.599487-07:00,53.0,1,48999,13605,51019,None,1221.0,1
8,None,2018-03-12T18:12:27.599487-07:00,51933,None,2018-03-12T18:12:27.599487-07:00,44.0,1,50219,13605,51021,None,1218.0,1
9,None,2018-03-12T18:12:27.599487-07:00,51935,None,2018-03-12T18:12:27.599487-07:00,43.0,1,50219,13605,51023,None,1218.0,1
10,None,2018-03-12T18:12:27.599487-07:00,51937,None,2018-03-12T18:12:27.599487-07:00,45.0,1,50219,13605,51025,None,1218.0,1
11,None,2018-03-12T18:12:27.599487-07:00,51939,None,2018-03-12T18:12:27.599487-07:00,47.0,1,47823,13605,51027,None,1219.0,1
12,None,2018-03-12T18:12:27.599487-07:00,51941,None,2018-03-12T18:12:27.599487-07:00,48.0,1,47823,13605,51029,None,1219.0,1
13,None,2018-03-12T18:12:27.599487-07:00,51943,None,2018-03-12T18:12:27.599487-07:00,46.0,1,47823,13605,51031,None,1219.0,1
14,None,2018-03-12T18:12:27.599487-07:00,51945,None,2018-03-12T18:12:27.599487-07:00,42.0,1,50433,13605,51033,None,1217.0,1
15,None,2018-03-12T18:12:27.599487-07:00,51947,None,2018-03-12T18:12:27.599487-07:00,40.0,1,50433,13605,51035,None,1217.0,1
16,None,2018-03-12T18:12:27.599487-07:00,51949,None,2018-03-12T18:12:27.599487-07:00,41.0,1,50433,13605,51037,None,1217.0,1
17,None,2018-03-12T18:12:27.599487-07:00,51951,None,2018-03-12T18:12:27.599487-07:00,51.0,1,48223,13605,51039,None,1220.0,1
18,None,2018-03-12T18:12:27.599487-07:00,51953,None,2018-03-12T18:12:27.599487-07:00,50.0,1,48223,13605,51041,None,1220.0,1
19,None,2018-03-12T18:12:27.599487-07:00,51955,None,2018-03-12T18:12:27.599487-07:00,49.0,1,48223,13605,51043,None,1220.0,1
20,None,2018-03-12T18:12:27.599487-07:00,51957,None,2018-03-12T18:12:27.599487-07:00,59.0,1,48229,13605,51045,None,1223.0,1
21,None,2018-03-12T18:12:27.599487-07:00,51959,None,2018-03-12T18:12:27.599487-07:00,58.0,1,48229,13605,51047,None,1223.0,1
22,None,2018-03-12T18:12:27.599487-07:00,51961,None,2018-03-12T18:12:27.599487-07:00,60.0,1,48229,13605,51049,None,1223.0,1
23,None,2018-03-12T18:12:27.599487-07:00,51963,None,2018-03-12T18:12:27.599487-07:00,97.0,1,49425,13605,51051,None,1236.0,1
24,None,2018-03-12T18:12:27.599487-07:00,51965,None,2018-03-12T18:12:27.599487-07:00,99.0,1,49425,13605,51053,None,1236.0,1
25,None,2018-03-12T18:12:27.599487-07:00,51967,None,2018-03-12T18:12:27.599487-07:00,98.0,1,49425,13605,51055,None,1236.0,1
26,None,2018-03-12T18:12:27.599487-07:00,51969,None,2018-03-12T18:12:27.599487-07:00,94.0,1,49587,13605,51057,None,1235.0,1
27,None,2018-03-12T18:12:27.599487-07:00,51971,None,2018-03-12T18:12:27.599487-07:00,96.0,1,49587,13605,51059,None,1235.0,1
28,None,2018-03-12T18:12:27.599487-07:00,51973,None,2018-03-12T18:12:27.599487-07:00,95.0,1,49587,13605,51061,None,1235.0,1
29,None,2018-03-12T18:12:27.599487-07:00,51975,None,2018-03-12T18:12:27.599487-07:00,87.0,1,48453,13605,51063,None,1232.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-03-26T16:27:25.257361-07:00,62015,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-03-26T16:27:25.257361-07:00,NaN,1,61911,14194,61975,None,NaN,1
460,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-03-26T16:28:45.616213-07:00,62025,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-03-26T16:28:45.616213-07:00,NaN,1,61921,14194,61977,None,NaN,1
461,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-03-26T16:33:11.783556-07:00,62035,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-03-26T16:33:11.783556-07:00,NaN,1,61931,14194,61979,None,NaN,1
462,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-03-26T16:34:43.289759-07:00,62045,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-03-26T16:34:43.289759-07:00,NaN,1,61941,14194,61981,None,NaN,1
463,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-03-26T16:34:43.289759-07:00,62053,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-03-26T16:34:43.289759-07:00,NaN,1,61949,14194,61981,None,NaN,1
464,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-03-26T16:36:10.863089-07:00,62055,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-03-26T16:36:10.863089-07:00,NaN,1,61951,14194,61983,None,NaN,1
465,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-03-27T16:59:54.24287-07:00,62449,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-03-27T17:01:25.392085-07:00,NaN,1,62427,14039,62387,None,NaN,1
466,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-03-27T17:01:02.304091-07:00,62455,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-03-27T17:01:02.304091-07:00,NaN,1,62433,14039,62445,None,NaN,1
467,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-03-27T17:02:06.673969-07:00,62461,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-03-27T17:02:06.673969-07:00,NaN,1,62439,14039,62447,None,NaN,1
468,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-04-02T14:23:06.756915-07:00,62561,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-04-02T15:05:43.831957-07:00,NaN,1,62523,13990,62559,None,NaN,1
469,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-04-02T14:39:41.239168-07:00,62601,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-04-02T14:39:41.239168-07:00,NaN,1,62525,13990,62573,None,NaN,1
470,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-04-02T14:40:11.426804-07:00,62603,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-04-02T14:40:11.426804-07:00,NaN,1,62527,13990,62575,None,NaN,1
471,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-04-02T14:40:35.072511-07:00,62605,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-04-02T14:40:35.072511-07:00,NaN,1,62529,13990,62577,None,NaN,1
472,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-04-02T14:41:02.330199-07:00,62607,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-04-02T14:41:02.330199-07:00,NaN,1,62531,13990,62579,None,NaN,1
473,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-04-02T14:53:49.707626-07:00,62609,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-04-02T14:53:49.707626-07:00,NaN,1,62533,13990,62581,None,NaN,1
474,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-04-02T14:57:47.778732-07:00,62611,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-04-02T14:57:47.778732-07:00,NaN,1,62535,13990,62583,None,NaN,1
475,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-04-02T14:59:19.874396-07:00,62613,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-04-02T14:59:19.874396-07:00,NaN,1,62541,13990,62587,None,NaN,1
476,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-04-02T15:00:00.866205-07:00,62615,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-04-02T15:00:00.866205-07:00,NaN,1,62539,13990,62589,None,NaN,1
477,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-04-02T15:00:51.75637-07:00,62617,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-04-02T15:00:51.75637-07:00,NaN,1,62543,13990,62591,None,NaN,1
478,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-04-02T15:01:27.102249-07:00,62619,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-04-02T15:01:27.102249-07:00,NaN,1,62545,13990,62593,None,NaN,1
479,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-04-02T15:02:02.193199-07:00,62621,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-04-02T15:02:02.193199-07:00,NaN,1,62547,13990,62595,None,NaN,1
480,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-04-02T15:02:32.834426-07:00,62623,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-04-02T15:02:32.834426-07:00,NaN,1,62549,13990,62597,None,NaN,1
481,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-04-02T15:03:05.577721-07:00,62625,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-04-02T15:03:05.577721-07:00,NaN,1,62551,13990,62599,None,NaN,1
482,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-04-02T15:05:14.27574-07:00,62627,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-04-02T15:05:14.27574-07:00,NaN,1,62537,13990,62585,None,NaN,1
483,https://auth.globus.org/bb256144-d274-11e5-adb...,2018-04-06T11:33:05.8501-07:00,62737,https://auth.globus.org/bb256144-d274-11e5-adb...,2018-04-06T11:33:05.8501-07:00,NaN,1,62733,62729,62735,None,NaN,1
484,https://auth.globus.org/bb256144-d274-11e5-adb...,2018-04-06T11:46:57.679319-07:00,62769,https://auth.globus.org/bb256144-d274-11e5-adb...,2018-04-06T11:46:57.679319-07:00,NaN,1,62765,62757,62767,None,NaN,1
485,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-04-06T11:54:06.84542-07:00,62779,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-04-06T11:54:06.84542-07:00,NaN,1,62759,62743,62749,None,NaN,1
486,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-04-06T12:12:32.335272-07:00,62809,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-04-06T12:12:32.335272-07:00,NaN,1,62805,62787,62799,None,NaN,1
487,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-04-11T12:26:16.576316-07:00,62871,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-04-11T12:26:16.576316-07:00,NaN,1,49317,38283,51231,None,NaN,1
488,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-04-11T12:28:24.259798-07:00,62873,https://auth.globus.org/b506963e-d274-11e5-99f...,2018-04-11T12:28:24.259798-07:00,NaN,1,49419,38283,51233,None,NaN,1

# Table Instances
So far we have discussed _base_ tables. A _base_ table is a representation of the table as it is stored in the ERMrest catalog. A table _instance_ is a usage or reference of a table _within the context_ of a data path. As demonstrated above, we may link together multiple tables and thus create multiple table instances within a data path.

For example, in `path.link(dataset).link(experiment).link(replicate)` the table instance `experiment` is no longer the same as the original base table `experiment` because _within the context_ of this data path the `experiment` entities must satisfy the constraints of the data path. The `experiment` entities must reference a `dataset` entity, and they must be referenced by a `replicate` entity. Thus within this path, the entity set for `experiment` may be quite different than the entity set for the base table on its own.

## Table instances are bound to the path
Whenever you initiate a data path (e.g., `table.path`) or link a table to a path (e.g., `path.link(table)`) a table instance is created and bound to the DataPath object (e.g., `path`). These table instances can be referenced via the `DataPath`'s `table_instances` container or directly as a property of the `DataPath` object itself.

In [14]:
dataset_instance = path.table_instances['dataset']
# or
dataset_instance = path.dataset

## Aliases for table instances
Whenever a table instance is created and bound to a path, it is given a name. If no name is specified for it, it will be named after the name of its base table. For example, a table named "My Table" will result in a table instance also named "My Table". Tables may appear _more than once_ in a path (as table instances), and if the table name is taken, the instance will be given the "'base name' + `number`" (e.g., "My Table2").

You may wish to specify the name of your table instance. In conventional database terms, an alternate name is called an "alias". Here we give the `dataset` table instance an alias of 'D' though longer strings are also valid as long as they do not contain special characters in them.

In [15]:
path.link(dataset.alias('D'))

In [16]:
path.D.uri

'https://www.facebase.org/ermrest/catalog/1/entity/dataset:=isa:dataset/experiment:=isa:experiment/replicate:=isa:replicate/bioreplicate_number=1/D:=isa:dataset'

You'll notice that in this path we added an additional _instance_ of the `dataset` table from our catalog model. In addition, we linked it to the `isa.replicate` table. This was possible because in this model, there is a foriegn key reference from the base table `replicate` to the base table `dataset`. The entities for the table instance named `dataset` and the instance name `D` will likely consist of different entities because the constraints for each are different.

## Selecting Attributes From Linked Entities

Returning to the initial example, if we want to include additional attributes
from other table instances in the path, we need to be able to reference the
table instances at any point in the path. First, we will build our original path.

In [17]:
path = dataset.path.link(experiment).link(replicate).filter(replicate.bioreplicate_number == 1)
print(path.uri)

https://www.facebase.org/ermrest/catalog/1/entity/dataset:=isa:dataset/experiment:=isa:experiment/replicate:=isa:replicate/bioreplicate_number=1

Now let's fetch an entity set with attributes pulled from each of the table instances in the path.

In [18]:
entities = path.entities(path.dataset.accession, 
                         type_of_experiment=path.experiment.experiment_type, 
                         technical_replicate_num=path.replicate.technical_replicate_number)
print(entities.uri)

https://www.facebase.org/ermrest/catalog/1/attribute/dataset:=isa:dataset/experiment:=isa:experiment/replicate:=isa:replicate/bioreplicate_number=1/dataset:accession,type_of_experiment:=experiment:experiment_type,technical_replicate_num:=replicate:technical_replicate_number

**Notice** that the `EntitySet` also has a `uri` property. This URI may differ from the origin path URI because the attribute projection does not get appended to the path URI.

In [19]:
path.uri != entities.uri

True

As usual, `fetch(...)` the entities from the catalog.

In [20]:
entities.fetch(limit=5)
for e in entities:
    print(e)

{'accession': 'FB00000827', 'type_of_experiment': 31260, 'technical_replicate_num': 1}
{'accession': 'FB00000827', 'type_of_experiment': 31260, 'technical_replicate_num': 1}
{'accession': 'FB00000867', 'type_of_experiment': 31251, 'technical_replicate_num': 1}
{'accession': 'FB00000867', 'type_of_experiment': 31251, 'technical_replicate_num': 1}
{'accession': 'FB00000867', 'type_of_experiment': 31251, 'technical_replicate_num': 1}